[run]
omit =
    # omit anything in a .local directory anywhere
    *.html
    build/lib/magine/enrichment/deprecated/*
    build/lib/magine/enrichment/deprecated/databases/gene_ontology.py
    build/lib/magine/networks/visualization/cytoscape_view.py
    build/lib/magine/networks/correlation_networks/*
    build/lib/magine/networks/dev_tools.py
    build/lib/magine/data/formatter.py
    build/lib/magine/mappings/databases/pubchem.py
    build/lib/magine/tests/*
[report]
ignore_errors = True
exclude_lines =
    if __name__ == .__main__.: