include README.rst
include magine/enrichment/_valid_enricher_libs.txt
include magine/html_templates/*.html
include magine/html_templates/templates/*.html
include magine/tests/Data/*
include magine/tests/Data/hilic/*
include magine/tests/Network_files/*
include magine/tests/KEGG/*
include magine/mappings/*mapper.p
include magine/examples/cisplatin/*.png
include scripts/*
graft doc
prune doc/_build