networkx>=2.1
py2cytoscape
pydotplus
jinja2
scipy
numpy>=1.9.0
pandas>=0.23.0
openpyxl
xlrd
matplotlib==2.2.3
matplotlib-venn
bioservices
pathos
plotly==2.7
appdirs
seaborn
IPython>=5.3.0
jupyter==1.0.0
wordcloud
sortedcontainers
statsmodels
pydot
ipywidgets
defusedxml
requests