networkx>=2.1
numpy>=1.9.0
pandas>=0.23.0
matplotlib==2.2.3
plotly==2.7
IPython>=5.3.0
jupyter==1.0.0
pydotplus
pydot
jinja2
scipy
openpyxl
xlrd
matplotlib-venn
bioservices
pathos
appdirs
seaborn
wordcloud
sortedcontainers
statsmodels
ipywidgets
defusedxml
requests
py2cytoscape