<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet" media="screen">
    <link href="https://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/r/bs-3.3.5/dt-1.10.9/datatables.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://yadcf-showcase.appspot.com/resources/css/jquery.dataTables.yadcf.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.7.0/chosen.min.css" rel="stylesheet" type="text/css"/>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.9.0/jquery-ui.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.7.0/chosen.jquery.min.js"></script>
    <script src="https://yadcf-showcase.appspot.com/resources/js/jquery.dataTables.yadcf.js"></script>
    <title>{{ title }}</title>
</head>
<body>
<h2>{{ title }}</h2>
{{ table_name }}

<script>
    $(document).ready(function () {

        var table = $('table').DataTable({
            "deferRender": true
        });

        yadcf.init(table, [
            {{filter_table}}]);

        // BOOTSTRAP: Tweaks
//        $('.yadcf-filter-wrapper').addClass('input-group');
//        $('.yadcf-filter, .yadcf-filter-date', this).addClass('form-control input-sm');
//        $('.yadcf-filter-reset-button', this).addClass('btn btn-default btn-sm').wrap('<span class="input-group-btn"></span>');
    });
</script>
</body>
</html>