<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8/>
    <style type="text/css">
        body {
            font: 14px helvetica neue, helvetica, arial, sans-serif;
        }

        #{{uuid}}{
            height: {{widget_height}}px;
            width: 90%;
            border: 5px solid black;
            box-sizing: border-box;
            position: absolute;
            top: 5px;
            background: {{background}};
        },
        #{{fitbutton}}{
            width: 3em;
            margin: 0.5em;
            position: absolute;
            z-index: 999;
            top: 5px;
            right: 0;
        },
        #{{fitbutton}}i {
            transform: rotate(45deg);
        }

    </style>

    <script>
        (function () {
            function render() {
                var cy = window.cy = cytoscape({
                    container: $('#{{uuid}}'),
                    elements: {
                        nodes: {{nodes}},
                        edges: {{edges}}
                    },

                    layout: {
                        name: '{{layout}}'
                    },

                    boxSelectionEnabled: true,
                    wheelSensitivity: .25,
                    ready: function () {
                        cy.style().fromJson({{style_json}}).update();
                    }


                });

                cy.on('tap', 'node', function (evt) {
                    var ele = evt.target;
                    if (ele.data()['tip']['state']['visible']) {
                        ele.data()['tip'].hide();
                    } else {
                        ele.data()['tip'].show();
                    }
                });

                var makeTippy = function (target, text) {
                    return tippy(target.popperRef(), {
                        html: (function () {
                            var div = document.createElement('div');
                            div.innerHTML = "<a href='https://www.genecards.org/cgi-bin/carddisp.pl?gene=" + text + "' target='_blank'>Gene Card</a>";
                            return div;
                        })(),
                        trigger: 'manual',
                        arrow: true,
                        placement: 'top',
                        hideOnClick: false,
                        interactive: true,
                        multiple: true,
                        sticky: true

                    }).tooltips[0];
                };

                cy.nodes().forEach(function (n) {
                    n.data()['tip'] = makeTippy(n, n.data('id'));
                });

                var allNodes;
                var layoutPadding = 50;
                var aniDur = 500;
                var easing = 'linear';
                allNodes = cy.nodes();
                $('#{{fitbutton}}').on('click', function () {

                    allNodes.unselect();
                    cy.stop();

                    cy.animation({
                        fit: {
                            eles: cy.elements(),
                            padding: layoutPadding
                        },
                        duration: aniDur,
                        easing: easing
                    }).play();

                });

            }

            var before_render = function () {
                if (window['cytoscape'] === undefined) {
                    console.log("Waiting for Cyjs...");
                    window.addEventListener("load_cytoscape", before_render);
                } else {
                    console.log("Ready to render graph!");
                    $(".tippy-popper").remove();

                    render();
                }
            };
            before_render();
        })();
        if (window['cytoscape'] === undefined) {
            console.log('starting loading');

            requirejs.config({

                paths: {
                    'popper': 'https://unpkg.com/popper.js@1.14.1/dist/umd/popper',
                    'tippy': 'https://cdnjs.cloudflare.com/ajax/libs/tippy.js/2.3.0/tippy.min',
                    'cytoscape': 'https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.10/cytoscape',
                    'cytoscape-popper': 'https://cdn.rawgit.com/cytoscape/cytoscape.js-popper/3ad50859/cytoscape-popper',
                    'jquery': 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min',
                    'qtip2': 'https://cdnjs.cloudflare.com/ajax/libs/qtip2/2.2.0/basic/jquery.qtip.min',
                    'cytoscape-cose-bilkent': 'https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.6.1/cytoscape-cose-bilkent'
                },
                shim: {
                    'cytoscape-popper': {
                        deps: ['cytoscape', 'popper']
                    }
                },
                map: {
                    '*': {
                        'popper.js': 'popper',
                        'webcola': 'cola'
                    }
                }

            });
            window.$ = window.jQuery = require('jquery');

            require(['cytoscape', 'cytoscape-popper', 'popper', 'tippy', 'jquery', 'cytoscape-cose-bilkent'],
                function (cytoscape, cypopper, popper, tippy, jquery, regCose) {
                    console.log('Loading Cytoscape.js Module...');
                    window['popper'] = popper;
                    window['tippy'] = tippy;
                    window['cytoscape'] = cytoscape;
                    cypopper(cytoscape);
                    regCose(cytoscape);


                    var event = document.createEvent("HTMLEvents");
                    event.initEvent("load_cytoscape", true, false);
                    window.dispatchEvent(event);
                }
            );
        }

    </script>
</head>

<body>
<div id="{{ uuid }}"></div>
<button id={{ fitbutton }} class="btn btn-default
"><i class="fa fa-arrows-h"></i></button>
<!-- When only #uuid div is placed on this page,
the height of output-box on ipynb will be 0px.
One line below will prevent that. -->
<div id="dummy" style="width:{{ widget_width }}px;height:{{ widget_height }}px"></div>
</body>

</html>
