<!doctype html>
<html>
<head>
    <title>Network | Basic usage</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.4/cytoscape.js"></script>
    <script src="https://cdn.rawgit.com/cpettitt/dagre/v0.7.4/dist/dagre.min.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>
    <script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-cose-bilkent/1.6.5/cytoscape-cose-bilkent.js"></script>

    <style type="text/css">

        #{{ uuid }}{
            width: 900px;
            height: 500px;
            border: 5px solid white;
            box-sizing: border-box;
        }

        .myClass {
            background: red;
        }

        body {
            font: 14px helvetica neue, helvetica, arial, sans-serif;
        }

        input[type='button'] {
            width: 100%;
        }
    </style>

</head>
<body onload="init();">


<div class="row">
    <div class="container-fluid">

        <div class="container-fluid">

            <div class="dropdown nav navbar-nav">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Layout options<span
                        class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><input type='button' id='HieButton' value='Hierarchical layout'></li>
                    <li><input type='button' id='DagreButton' value='Default layout'></li>
                    <li><input type='button' id='FlatButton' value='Compact layout (random)'></li>
                </ul>
            </div>
            <div class="dropdown nav navbar-nav">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Color options<span
                        class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><input type='button' id='metabolites' value='Highlight metabolites'></li>
                    <li><input type='button' id='genes' value='Highlight genes/proteins'></li>
                </ul>
            </div>
        </div>
        <div id="tools" class="panel panel-primary">
            <div class="panel-heading">Filter edges</div>
            <div class="panel-body">
                <button id="filter_activate" class="btn btn-success">Activate</button>
                <button id="filter_inhibit" class="btn btn-success">Inhibit</button>
                <button id="filter_exp" class="btn btn-success">Expression</button>
                <button id="filter_rep" class="btn btn-success">Repression</button>

                <button id="filter_chem" class="btn btn-success">Chemical</button>
                <button id="filter_missing" class="btn btn-success">Indirect</button>
                <button id="filter_binding" class="btn btn-success">Binding</button>

            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-lg-12">

            <!-- graph : start -->
            <div class="panel panel-primary">
                <div class="panel-heading">Graph</div>
                <div class="panel-body">
                    <div id="cy-container">
                        <div id="{{ uuid }}"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function init() {
        window.parent.setUpFrame();
        return true;
    }

    function runVis() {
        var cy = cytoscape({
            container: document.getElementById("{{ uuid }}"),
            wheelSensitivity:.25,

            elements: {
                nodes:{{nodes}},
                edges:{{edges}}
            }
        });
        cy.layout(
            {
                name: 'dagre',
                avoidOverlap: true,
                rankSep:15,
                padding:5,
                fit:true
            }).run();
        cy.resize();
        cy.fit();
        cy.style().fromJson({{style_json}}).update();

        var HieButton = document.getElementById('HieButton');
        HieButton.addEventListener('click', function () {
            cy.layout({name: 'breadthfirst', avoidOverlap: true}).run();

        });
        var DagreButton = document.getElementById('DagreButton');
        DagreButton.addEventListener('click', function () {
            cy.layout(
                {
                    name: 'dagre',
                    avoidOverlap: true,
                    rankSep:15,
                    padding:5,
                    fit:true
                }
            ).run();
            cy.resize();
                cy.fit();

        });
        var FlatButton = document.getElementById('FlatButton');
        FlatButton.addEventListener('click', function () {
            cy.layout(
                {
                    name: 'cose-bilkent',
                    avoidOverlapPadding: 100,
                    animate: false,
                    avoidOverlap: true
                }
            ).run();
            cy.resize();
                cy.fit();
        });


        function createNewFilter(name, criteria) {
            var obj = {};
            obj.removed_nodes = false;
            obj.eles = 'none';
            obj.criteria = criteria;
            obj.button = document.getElementById(name);
            obj.button.addEventListener('click', function () {
                $(this).toggleClass('myClass');
                if (obj.eles === 'none') {
                    obj.eles = cy.$(obj.criteria).remove();
                    obj.removed_nodes = cy.$('node[[degree<1]]').remove();
                }
                else {
                    obj.removed_nodes.restore();
                    obj.eles.restore();
                    obj.eles = 'none';
                }
                {#cy.layout({name: 'dagre', avoidOverlap: true}).run();#}
                cy.resize();
                cy.fit();
            });
        }

        createNewFilter('filter_exp', 'edge[interactionType *= \'expression\']');
        createNewFilter('filter_rep', 'edge[interactionType *= \'repression\']');
        createNewFilter('filter_chem', 'edge[interactionType *= \'chemical\']');
        createNewFilter('filter_missing', 'edge[interactionType *= \'indirect\']');
        createNewFilter('filter_binding', 'edge[interactionType *= \'binding\']');
        createNewFilter('filter_inhibit', 'edge[interactionType *= \'inhibit\']');
        createNewFilter('filter_activate', 'edge[interactionType *= \'activate\']');


        var MetaboliteColor = document.getElementById('metabolites');
        MetaboliteColor.addEventListener('click', function () {
            cy.style()
                .selector('node[speciesType = \'compound\']')
                .style('background-color', 'red')
                .update()
            ;
        });


        var GenesColor = document.getElementById('genes');
        GenesColor.addEventListener('click', function () {
            cy.style()
                .selector('node[speciesType = \'gene\']')
                .style('background-color', 'red')
                .update()
            ;
        });

    }

</script>

</body>
</html>
