mock
networkx==2.3
jinja2
scipy
numpy
pandas
xlrd
matplotlib
matplotlib-venn
bioservices
pathos
seaborn
plotly
appdirs
numpydoc
pandoc
pyparsing>=2.1.4
sortedcontainers
IPython>=5.3.0
jupyter_sphinx
nbsphinx
ipywidgets
sphinx_bootstrap_theme